<div [@routerTransition]>
    <app-admin-header [heading]="'Product'"></app-admin-header>
    <div class="card mb-3">
        <div class="card-header">
            <input type="text" placeholder="Search" [(ngModel)]="searchField" style="width:150px;" />
            <a class="btn btn-primary" [routerLink]="['/admin-tools/product/add']" style="float:right;line-height:0.8">Create</a>
        </div>
        <table class="table table-sm table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center"><em class="fa fa-cog"></em></th>
                    <th class="pointer" (click)="sort('productName')">Name <i class="fa" [ngClass]="{'fa-sort': column != 'productName',
                        'fa-sort-asc': (column == 'productName' && !isDesc),
                        'fa-sort-desc': (column == 'productName' && isDesc) }"
                        aria-hidden="true"></i></th>
                    <th class="pointer" (click)="sort('category')">Category <i class="fa" [ngClass]="{'fa-sort': column != 'category',
                        'fa-sort-asc': (column == 'category' && !isDesc),
                        'fa-sort-desc': (column == 'category' && isDesc) }"
                        aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | filter: searchField | orderBy: {property: column, direction: direction}">
                    <th scope="row" class="text-center"><a [routerLink]="['/admin-tools/product/info',product._id]" class="btn btn-default myClass"><i class="fa fa-info-circle"></i></a></th>
                    <td>{{product.productName}}</td>
                    <td>{{product.category}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
