<div [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4 text-center">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h4>Please log in to proceed</h4>
            <form role="form" (submit)="onLoginSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="email" name="email" class="form-control input-underline input-lg" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control input-underline input-lg" placeholder="Password">
                    </div>
                </div>
                <!--<a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>-->
                <input type="submit" class="btn btn-primary" value="Log in">
                &nbsp;
                <a class="btn btn-primary" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>
