<div [@routerTransition]>
    <app-admin-header [heading]="'Details'" [thirdInput]="'Category'" [thirdLink]="'category'"></app-admin-header>
    <img *ngIf="category" src="{{category.pic}}" id="pic" class="responsive-img myClass" />
    <!--<img src="https://www.crestron.com/assets/product_details/app_diagram_no_preview.jpg" id="pic" class="responsive-img myClass" />-->
    <div class="row">
        <div class="col-md-4 push-md-4 text-center">
            <form role="form" novalidate [formGroup]="form" (ngSubmit)="onUpdateSubmit()" class="form-horizontal">
                <div class="form-content form-horizontal">

                    <div class="form-group text-left" [ngClass]="form.controls['categoryName'].invalid && (form.controls['categoryName'].dirty) ? 'has-danger' : ''">
                        <label class="control-label" style="">Category name:</label>

                        <input type="text" class="form-control input-underline input-lg" [ngClass]="form.controls['categoryName'].invalid && (form.controls['categoryName'].dirty) ? 'form-control-danger' : ''" formControlName="categoryName">
                        <div *ngIf="form.controls['categoryName'].invalid && (form.controls['categoryName'].dirty)" class="text-left">
                            <label *ngIf="form.controls['categoryName'].invalid" class="form-control-label" for="inputError">
                                {{validateService.getFormValidationErrors(this.form, 'categoryName','Category name')}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group text-left">
                        <label>Pic input:</label>
                        <input type="file" (change)="fileChange($event)" class="form-control-file" formControlName="pic">
                    </div>

                </div>
                <input type="submit" class="btn btn-primary" value="Update">
                &nbsp;
                <button type="button" (click)="onClickRemoveConfirm()" class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
