<div class="container-fluid fixed-top my-container">
    <a href="javascript:void(0)" [routerLink]="['/cart']" class="nav-link" style="color: rgba(255, 255, 255, 0.5);">
        <i class="fa fa-shopping-cart"></i> Cart
    </a>
    <div class="dropdown nav-item" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" style="color: rgba(255, 255, 255, 0.5);" ngbDropdownToggle>
            <i class="fa fa-user"></i> {{name}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a *ngIf="authService.loggedIn()" class="dropdown-item" [routerLink]="['/profile']"><i class="fa fa-fw fa-user"></i> Profile</a>
            <a *ngIf="!authService.loggedIn()" class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-fw fa-sign-in"></i> Log in</a>
            <a *ngIf="!authService.loggedIn()" class="dropdown-item" [routerLink]="['/signup']"><i class="fa fa-fw fa-gear"></i> Register</a>
            <a *ngIf="authService.isAdmin()" class="dropdown-item" [routerLink]="['/admin-tools']"><i class="fa fa-fw fa-wrench"></i> Admin tools</a>
            <a *ngIf="authService.loggedIn()" class="dropdown-item" [routerLink]="['/login']" (click)="onLogoutClick()"><i class="fa fa-fw fa-power-off"></i> Log out</a>
        </div>
    </div>
</div>
