<div class="row">
    <div class="col-xl-12">
        
        <ol class="breadcrumb" style="height:25px;padding-top:0px">
            <li class="breadcrumb-item">
                <i class="fa fa-wrench"></i> <a href="Javascript:void(0)" [routerLink]="['/admin-tools']">Admin Tools</a>
            </li>
            <li *ngIf="thirdInput!=undefined" class="breadcrumb-item">
                <a href="Javascript:void(0)" routerLink = "/admin-tools/{{thirdLink}}">{{thirdInput}}</a>
            </li>
            <li class="breadcrumb-item active"> {{heading}}</li>
        </ol>
        <h2 class="page-header">
            {{heading}}
        </h2>
        <h6 *ngIf="isRemove">Are you sure you want to delete this?</h6>
        <hr />
    </div>
</div>
